.fullproduct-container{
    display:flex;
    margin:100px;
    justify-content:space-around;
    align-items:center;
    background:#000;
}
.product-detailed-description{
color:#fff !important;
font-family: var(--text-font-family) !important;
}
.product-right{
    color:#fff !important;
    font-family: var(--text-font-family) !important; 
}